@font-face {
  font-family: 'meltdown';
  src: url('../Meltdown.ttf');
  font-weight: normal;
  font-style: normal;
}

#ooze {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

/* Add some content at the bottom of the video/page */
.header {
  position: fixed;
  text-align: center;
  top:35%;
  background: rgba(0, 0, 0, 0.0);
  font-family: meltdown;
  font-size: xx-large;
  font-style: bold;
  color: #E400F7;
  width: 100%;
  padding: 20px;
}

.email-link{
  font-family: 'Courier New', Courier, monospace;
  color: #E400F7;
  text-decoration: none;
  list-style: none;
  font-size: medium;
  text-transform: lowercase;
}